.media-default-skin .media-title {
  position: absolute;
  inset-inline: 0;
  top: 0;
  padding: 1rem 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--media-color-primary, oklch(1 0 0));
  white-space: nowrap;
  text-shadow: 0 1px 0 var(--media-current-shadow-color);
  pointer-events: none;
  opacity: 0;
  transition-timing-function: ease-out;
  transition-duration: var(--media-controls-transition-duration);
  transition-property: opacity;
}

@container media-root (width > 42rem) {
  .media-default-skin .media-title {
    padding: 1.5rem 2rem;
    font-size: 1rem;
  }
}

.media-default-skin .media-title:not([data-has-title]) {
  display: none;
}

.media-default-skin .media-controls[data-visible]:has([data-paused]) ~ .media-title {
  opacity: 1;
}

.media-default-skin .media-error[data-open] ~ .media-title {
  display: none;
}
